.custom-link {
    display: block;
    padding: 20px;
    text-align: center;
    text-decoration: underline;
    font-size: 18px;
    margin: 0;
    width: 100%;
}


.green-link { background-color: #a2d9a2; color: #a52a2a; }
.grey-link { background-color: #4d4d4d; color: #f1c40f; }
.black-link { background-color: #000000; color: #ffffff; }


.custom-link:hover {
    filter: brightness(1.2);
    cursor: pointer;
}